{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"> Historique du Car {{ car.immat| upper }}</h1>
            <p><a href="{{ path('ajout_panne', { 'id': car.id }) }}">Ajouter une panne a cet autocar</a></p>
            <p class="lead text-muted"></p>
        </div>
    </section>
    <section class="container">
        <div class="row pb-40">
            <div class="col-md-12">
                <a class="btn btn-primary ml-40 tee" href="{{ path('ajout_panne', { 'id': car.id }) }}">Ajouter une panne</a>
                <a class="btn btn-primary " href="{{ path('edit_car', { 'id': car.id }) }}">Editer fiche du car</a>
                <a class="btn btn-danger " href="{{ path('effacer_car', { 'id': car.id }) }}">Supprimer fiche du car</a>
            </div>
        </div>
        <div class="row pb-40">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col-md-2">Immatriculation</th>
                    <th scope="col-md-1">Mise à jour</th>
                    <th scope="col-md-1">Date d'enregistrement</th>
                    <th scope="col-md-2">Déclarant</th>
                    <th scope="col-md-2" >Etat du Car (ACTUEL)</th>
                    <th scope="col-md-2" > {% if car.EtatCar == 'panne'  %}
                            Nature panne
                            {% elseif car.EtatCar == 'roulant ano' or car.EtatCar == 'roulant_ano' %}
                            Nature du problème
                            {% elseif car.EtatCar == 'roulant' %}
                            Situation Car
                        {% endif %} </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                        {% if car.EtatCar == 'panne' %}
                            <a href="{{ path('edit_panne', {'id': car.id}) }}">{{ car.immat| upper }}</a>
                        {% elseif car.EtatCar == 'roulant ano' or car.EtatCar == 'roulant_ano' %}
                            <a href="{{ path('edit_panne', {'id': car.id }) }}">{{ car.immat| upper }}</a>
                        {% else %}
                            {{ car.immat|upper }}
                        {% endif %}
                        </th>
                        <td>{{ car.dateMaj| date("d/m/Y") }}</td>
                        <td>{{ car.date | date("d/m/Y") }}</td>
                        <td>{{ car.auteur }}</td>
                        <td >{% if car.EtatCar == 'roulant_ano' %}
                                <i class="fa fa-ambulance" style="color:orange; padding-top: 0 !important; font-size: 15px" id="etat_ra"></i>
                            {% elseif car.EtatCar == 'panne' %}
                                <i class="fa fa-ambulance" style="font-size: 15px; padding-top: 0 !important; color: red;" id="etat_panne"></i>
                                {% else %}
                                <i class="fa fa-bus" style="color: #00e765; font-size: 15px; padding-top: 0 !important;" id="etat_ok"></i>
                            {% endif %}</td>
                        <td>
                            {% if car.EtatCar == 'panne' %}
                               {{ car.naturePanneCar| upper }}
                            {% elseif car.EtatCar == 'roulant ano' or car.EtatCar == 'roulant_ano' %}
                                {{ car.naturePanneCar | upper }}
                            {% else %}
                               Aucun Problème
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="mini">Historique des pannes, nombre de panne(s) : {% if car %} {{ nombrep }}  {% else %} 00 panne {% endif %}</p>
            </div>
        </div>
        <div class="row">
            {% if pannes is defined %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col-md-2">Immatriculation</th>
                        <th scope="col-md-1">Mise à jour le</th>
                        <th scope="col-md-1">Déclarant</th>
                        <th scope="col-md-1">état du Car (Antérieur)</th>
                        <th scope="col-md-1">Durée Panne</th>
                        <th scope="col-md-2">
                            Panne ou Entretien
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for panne in pannes %}
                        <tr>
                            <td scope="row">{{ car.immat| upper }} <br> <a href="{{ path('edit_panne_ant', { 'id': panne.id }) }}"><i style="color: #00a7d0; margin-right: 5px; font-size: 15px;" class="fa fa-pencil-square"> </i></a> <a href="{{ path('delete_panne', { 'id': panne.id }) }}"><i  style="font-size: 15px;" class="fa fa-trash"></i></a></td>
                            <td>{{ panne.date|date("d/m/Y") }}</td>
                            <td>{{ panne.auteur }}</td>
                            <td>{% if panne.EtatCar == 'roulant_ano' %}
                                    <i class="fa fa-ambulance" style="color:orange; padding-top: 0 !important; font-size: 15px"></i>
                            {% elseif panne.EtatCar == 'panne' %}
                                    <i class="fa fa-ambulance" style="font-size: 15px; padding-top: 0 !important; color: red;"></i>
                                {% elseif panne.EtatCar == 'atelier' %}
                                    <i class="fa fa-wrench" style="font-size: 15px; padding-top: 0 !important; color: red;"></i>
                                    {% else %}
                                    {#<i class="fa fa-bus" style="font-size: 15px; padding-top: 0 !important; color: greenyellow;"></i>#}
                                {% endif %}</td>
                            <td> {% if panne.dureePannePrev is not null or panne.dureePannePrev != '' %}
                                {{ panne.dureePannePrev }} jours
                                    {% else %}
                                    <p>Indéterminé</p>
                                {% endif %} </td>
                            <td>{{ panne.naturePanne }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){

              $('.fa-trash').on('click', function(){
                  location.reload(true);
              });
            $('.btn-danger').on('click', function(){
                var r = confirm("Supprimé la fiche du car ?");
               if(r == false)
               {
                   return false;
               }
            });

        });
    </script>
{% endblock %}