{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h3 class="pt-30 text-center"> Edition panne antérieur </h3>
            <div class="well pt-30">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_errors(form) }}

                <div class="col-md-12 col-sm-10">

                    <div class="form-row">
                        {# Génération du label. #}
                        <div class="form-group col-md-3">
                            {{ form_label(form.auteur, "Déclarant : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}

                            {{ form_widget(form.auteur, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.auteur, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form_label(form.date_prev, "Date déb. de panne : ", {'label_attr': {'class': '  control-label'}}) }}
                            {# Génération de l'input.#}

                            {{ form_widget(form.date_prev, {'attr': {'class': 'js-datepicker form-control'}}) }}
                            {{ form_errors(form.date_prev, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form_label(form.date_effective, "Date fin de panne : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}

                            {{ form_widget(form.date_effective, {'attr': {'class': 'js-datepicker form-control'}}) }}
                            {{ form_errors(form.date_effective, { 'attr': {'class': 'red' }}) }}
                        </div>
                        {# Génération du label. #}
                        <div class="form-group col-md-3">
                            {# Génération du label. #}
                            {{ form_label(form.etat_car, "L' autocar est : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.etat_car, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.etat_car, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row trac">
                        <div class="form-group col-md-12">
                            {# Génération du label. #}
                            {{ form_label(form.nature_panne, "Nature de la panne : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.nature_panne, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.nature_panne, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row trac">
                        <div class="form-group col-md-12">
                            {# Génération du label. #}
                            {{ form_label(form.desc_panne, "Description de la panne : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.desc_panne, {'attr': {'class': ' form-control', 'rows': '8'}}) }}
                            {{ form_errors(form.desc_panne, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row trac">
                        <div class="form-group col-md-12">
                            {# Génération du label. #}
                            {{ form_label(form.suites_donnes, "Suite donné : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.suites_donnes, {'attr': {'class': ' form-control', 'rows': '8'}}) }}
                            {{ form_errors(form.suites_donnes, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 ">
                            {# Génération de l'input.#}
                            {{ form_widget(form.enregistrer , {'attr': {'class': 'col-md-12 btn btn-primary'}})}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            if($('option.etat_roulant.avec.anomalie').is(':selected'))
            {
                $('select option.etat_panne').prop('disabled', true);
            }
            else if($('option.etat_panne').is(':selected'))
            {
                $('option.etat_roulant.avec.anomalie').prop('disabled', true);
            }
            else
            {
                $('option.etat_roulant').prop('disabled', true);
                $('option.etat_roulant.avec.anomalie').prop('disabled', false);
            }

            $('#panne_enregistrer').on('click', function(){

                    if($('#panne_date_effective').val().length < 8 && $('#panne_date_effective').val().length > 10)
                    {
                        $('#panne_date_effective').css('border', '2px solid red');
                        alert('la date de fin de panne doit être enregistré !');
                        return false;
                    }

            });
            //   $('select#panne_etat_car').prop('disabled', true);

        });
    </script>
{% endblock %}