{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"> Ajout de panne sur l'autocar {{ car.immat| upper }}</h1>
            <p class="lead text-muted"></p>
        </div>
    </section>
    {% if liste_panne is defined %}
        <ul>
            {% for panne in liste_panne  %}
                <li>{{ panne.etat_car }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section>
        <div class="container">
            <h3 class="text-center"></h3>
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_errors(form) }}

                <div class="col-md-12 col-sm-10">

                    <div class="form-row">
                        {# Génération du label. #}
                        <div class="form-group col-md-6">
                            {{ form_label(form.auteur, "Auteur de la panne: ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}

                            {{ form_widget(form.auteur, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.auteur, { 'attr': {'class': 'red' }}) }}
                        </div>
                        {# Génération du label. #}
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.etat_car, "L' autocar est : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.etat_car, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.etat_car, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row trac">
                        <div class="form-group col-md-12">
                            {# Génération du label. #}
                            {{ form_label(form.desc_panne, "Description de la panne : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.desc_panne, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.desc_panne, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row trac">
                        <div class="form-group col-md-12">
                            {# Génération du label. #}
                            {{ form_label(form.suites_donnes, "Suite à donné : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.suites_donnes, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.suites_donnes, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 ">
                            {# Génération de l'input.#}
                            {{ form_widget(form.enregistrer , {'attr': {'class': 'col-md-12 btn btn-primary'}})}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}