{% extends 'base.html.twig' %}

{% block body %}
            {% if car is defined and car is not null and form is defined %}
                <h2 class="text-center">Edition d'une fiche de l'autocar : {{ car.immat|upper }}</h2>
                <section>
                    <div class="container">
                        <h3 class="text-center">Edition un Autocar </h3>
                        <div class="well">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                            {{ form_errors(form) }}

                            <div class="col-md-12 col-sm-10">

                                <div class="form-row">
                                    {# Génération du label. #}
                                    <div class="form-group col-md-6">
                                        {{ form_label(form.immat, "Immatriculation du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}

                                        {{ form_widget(form.immat, {'attr': {'class': ' form-control'}}) }}
                                        {{ form_errors(form.immat, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {# Génération du label. #}
                                        {{ form_label(form.site, "Centre de rattachement du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.site, {'attr': {'class': ' form-control'}}) }}
                                        {{ form_errors(form.site, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {# Génération du label. #}
                                        {{ form_label(form.num_serie, "Numéro de Série : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.num_serie, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.num_serie, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {# Génération du label. #}
                                        {{ form_label(form.auteur, "Déclarant : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.auteur, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {# Génération du label. #}
                                        {{ form_label(form.locataire, "Locataire du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.locataire, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.locataire, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {# Génération du label. #}
                                        {{ form_label(form.marque, "Marque : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.marque , {'attr': {'class': 'form-control'}})}}
                                        {{ form_errors(form.marque, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        {# Génération du label. #}
                                        {{ form_label(form.date_mar, "Date 1èr mise en circulation : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.date_mar , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.date_mar, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row etat_hide">
                                    <div class="form-group col-md-6 etat_hide">
                                        {# Génération du label. #}
                                        {{ form_label(form.fin_garantie, "Date fin de garantie : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.fin_garantie , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.fin_garantie, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-6 etat_hide">
                                        {# Génération du label. #}
                                        {{ form_label(form.proprio_pneus, "Propriètaire de pneus : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.proprio_pneus, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.proprio_pneus, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        {{ form_label(form.euro, "Norme Euro : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}

                                        {{ form_widget(form.euro, {'attr': {'class': ' form-control'}}) }}
                                        {{ form_errors(form.euro, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {# Génération du label. #}
                                        {{ form_label(form.nb_places, "Nb places: ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.nb_places, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.nb_places, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {# Génération du label. #}
                                        {{ form_label(form.ct, "Controle technique ou MIME : ", {'label_attr': {'class': ' control-label '}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.ct , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.ct, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row ">

                                    <div class="form-group col-md-3">
                                        {# Génération du label. #}
                                        {{ form_label(form.date_extincteur, "Extincteur : ", {'label_attr': {'class': ' control-label '}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.date_extincteur , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.date_extincteur, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {# Génération du label. #}
                                        {{ form_label(form.date_limiteur, "Limiteur: ", {'label_attr': {'class': ' control-label '}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.date_limiteur , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.date_limiteur, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {# Génération du label. #}
                                        {{ form_label(form.date_tachy, "Tachy : ", {'label_attr': {'class': ' control-label '}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.date_tachy , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.date_tachy, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {# Génération du label. #}
                                        {{ form_label(form.date_ethylo, "Ethylo : ", {'label_attr': {'class': ' control-label '}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.date_ethylo , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.date_ethylo, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 etat_hide">
                                        {# Génération du label. #}
                                        {{ form_label(form.etat_car, "Précisez l'état du car : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.etat_car , {'attr': {'class': 'form-control'}})}}
                                        {{ form_errors(form.etat_car, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-12">
                                        {# Génération du label. #}
                                        {{ form_label(form.condition_garantie, "Condition de garantie : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.condition_garantie , {'attr': {'class': 'form-control'}})}}
                                        {{ form_errors(form.condition_garantie, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                    <div class="form-group col-md-6 etat_hide">
                                        {# Génération du label. #}
                                        {{ form_label(form.garantie, "Sous garantie : ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.garantie , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.garantie, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 etat_hide">
                                        {# Génération du label. #}
                                        {{ form_label(form.date_prev, "Date prev: ", {'label_attr': {'class': ' control-label'}}) }}
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.date_prev , {'attr': {'class': ' js-datepicker form-control'}})}}
                                        {{ form_errors(form.date_prev, { 'attr': {'class': 'red' }}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        {{ form_label(form.memo_car, "Mémo car : ", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_widget(form.memo_car, {'attr': {'class': 'form-control', 'rows': '8'}}) }}
                                        {{ form_errors(form.memo_car, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div><h4 class="upper pt-30">équipements</h4>
                                <div class="form-row">
                                    <div class=" form-group col-md-3">

                                        {{ form_widget(form.siege_guide, {'attr': {'class': 'form-control'}}) }}<b>Siège guide </b>

                                        {{ form_errors(form.siege_guide, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class=" form-group col-md-3">

                                        {{ form_widget(form.wc, {'attr': {'class': 'form-control'}}) }}<b>Toilettes </b>

                                        {{ form_errors(form.wc, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class=" form-group col-md-3">

                                        {{ form_widget(form.ufr, {'attr': {'class': 'form-control'}}) }}<b>Rampe PMR :</b>

                                        {{ form_errors(form.ufr, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class=" form-group col-md-3">

                                        {{ form_widget(form.usb, {'attr': {'class': 'form-control'}}) }}<b>Prises USB :</b>

                                        {{ form_errors(form.usb, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class=" form-group col-md-3">

                                        {{ form_widget(form.prises_elec, {'attr': {'class': 'form-control'}}) }}<b>Prises élec.</b>

                                        {{ form_errors(form.prises_elec, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class=" form-group col-md-3">

                                        {{ form_widget(form.porte_ski, {'attr': {'class': 'form-control'}}) }}<b>Porte ski </b>

                                        {{ form_errors(form.porte_ski, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        {# Génération de l'input.#}
                                        {{ form_widget(form.enregistrer , {'attr': {'class': 'col-md-6 btn btn-primary'}})}}
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </section>
            {% else %}
                <h2 class="text-center">
                    Par de Car à éditer!
                </h2>
            {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.etat_hide').css('display', 'none');
            $('input:checkbox').css('visibility', 'visible');
           if($('option.etat_roulant').is(':selected'))
           {
               $('option.etat_roulant.avec.anomalie').prop('disabled', true);
               $('option.etat_panne').prop('disabled', true);
           }
           else if($('option.etat_panne').is(':selected'))
           {
               $('option.etat_roulant').prop('disabled', true);

           }
           else
           {
               $('option.etat_roulant').prop('disabled', true);
               $('option.etat_panne').prop('disabled', true);
               $('option.etat_roulant.avec.anomalie').prop('disabled', false);
           }

           /* $('input#car_date_prev').hide();
            $('select#car_garantie').hide();*/
        });
    </script>
{% endblock %}