{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"> Cars Arrêtés</h1>
            <p class="lead text-muted">Cette plateforme a été mise en place pour gérer l'ensemble de la flotte Aps et Fle</p>
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="text-center">Enregistrer un Autocar </h3>
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_errors(form) }}

                <div class="col-md-12 col-sm-10">

                    <div class="form-row">
                        {# Génération du label. #}
                        <div class="form-group col-md-6">
                            {{ form_label(form.immat, "Immatriculation du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}

                            {{ form_widget(form.immat, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.immat, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.site, "Centre de rattachement du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.site, {'attr': {'class': ' form-control'}}) }}
                            {{ form_errors(form.site, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.num_serie, "Numéro de Série : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.num_serie, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.num_serie, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.auteur, "Auteur de l'enregistrement : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.auteur, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.locataire, "Locataire du Car : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.locataire, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.locataire, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.marque, "Marque : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.marque , {'attr': {'class': 'form-control'}})}}
                            {{ form_errors(form.marque, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.date_prev, "Date de début de garantie: ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.date_prev, {'attr': {'class': ' js-datepicker form-control'}}) }}
                            {{ form_errors(form.date_prev, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.date_mar, "Date 1èr mise en circulation : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.date_mar , {'attr': {'class': ' js-datepicker form-control'}})}}
                            {{ form_errors(form.date_mar, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.fin_garantie, "Date de fin de garantie  : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.fin_garantie , {'attr': {'class': 'js-datepicker form-control'}})}}
                            {{ form_errors(form.fin_garantie, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.proprio_pneus, "Propriètaire de pneus : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.proprio_pneus, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.proprio_pneus, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {# Génération du label. #}
                            {{ form_label(form.condition_garantie, "Condition de garantie : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.condition_garantie , {'attr': {'class': ' form-control'}})}}
                            {{ form_errors(form.condition_garantie, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-4">
                            {# Génération du label. #}
                            {{ form_label(form.etat_car, "Précisez l'état du car : ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.etat_car , {'attr': {'class': 'form-control'}})}}
                            {{ form_errors(form.etat_car, { 'attr': {'class': 'red' }}) }}
                        </div>
                        <div class="form-group col-md-2">
                            {# Génération du label. #}
                            {{ form_label(form.garantie, "Sous Garantie: ", {'label_attr': {'class': ' control-label'}}) }}
                            {# Génération de l'input.#}
                            {{ form_widget(form.garantie , {'attr': {'class': 'form-control'}})}}
                            {{ form_errors(form.garantie, { 'attr': {'class': 'red' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            {# Génération de l'input.#}
                            {{ form_widget(form.enregistrer , {'attr': {'class': 'col-md-6 btn btn-primary'}})}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
{% block footer %}
    <footer class="container-fluid mt-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Flote Aps
                    </h3>
                </div>
                <div class="col-md-12">
                    <p class="text-center">
                        Studio is a simple one page them, ideal for personal or agency site, comes with an elegant and minimal design. Uses Font Awesome 4.0.3, parallax effect, off-canvas menu & other handsome features.
                    </p>
                </div>
            </div>
        </div>
    </footer>
{%  endblock %}
{% block javascripts %}

{% endblock %}