{% extends 'base.html.twig' %}

{% block body %}
	<section class="jumbotron text-center">
	    <div class="container">
	        <h1 class="jumbotron-heading"> Recherche de car </h1>
            <a class="green" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                Recherche avancée
            </a>
	        <div class="no_marg form-row">
	            {# Génération du label. #}
	            {{ form_start(form, {'attr': {'class': 'form-horizontal col-md-12'}}) }}

                {{ form_errors(form) }}
	            <div class=" form-group  col-md-12 c_hide">
	                {{ form_label(form.recherche, "Immatriculation : ", {'label_attr': {'class': ' control-label'}}) }}
	                {# Génération de l'input.#}
	                {{ form_widget(form.recherche, {'attr': {'class': ' col-md-12 form-control', 'placeholder' : 'Immatriculation du véhicule... ', 'autocomplete': 'off'}}) }}

	                {{ form_errors(form.recherche, { 'attr': {'class': 'red' }}) }}
	            </div>
	             {# Génération de l'input.#}
	             {{ form_widget(form.Rechercher , {'attr': {'class': ' col-md-12 btn btn-primary'}})}}
                {{ form_end(form) }}
	        </div>
            <div class="collapse" id="collapse1">
                <div class="card card-body">
                    <div class="no_marg ">
                        {# Génération du label. #}
                        {{ form_start(form_avancee, {'attr': {'class': 'form-horizontal col-md-12 pt-30'}}) }}

                        {{ form_errors(form_avancee) }}
                        <div class="form-row ">
                            <div class=" form-group  col-md-2">
                                {{ form_label(form_avancee.date, "De", {'label_attr': {'class': ' control-label'}}) }}
                                {# Génération de l'input.#}
                                {{ form_widget(form_avancee.date, {'attr': {'class': 'js-datepicker form-control', 'placeholder' : 'JJ/MM/AAAA', 'autocomplete': 'off'}}) }}

                                {{ form_errors(form_avancee.date, { 'attr': {'class': 'red' }}) }}
                            </div>
                            <div class=" form-group  col-md-2">
                                {{ form_label(form_avancee.date_2, "à ", {'label_attr': {'class': ' control-label'}}) }}
                                {# Génération de l'input.#}
                                {{ form_widget(form_avancee.date_2, {'attr': {'class': 'js-datepicker  form-control', 'placeholder' : 'JJ/MM/AAAA', 'autocomplete': 'off'}}) }}

                                {{ form_errors(form_avancee.date_2, { 'attr': {'class': 'red' }}) }}
                            </div>
                            <div class=" form-group  col-md-4">
                                {{ form_label(form_avancee.marque, "Marque", {'label_attr': {'class': ' control-label'}}) }}
                                {# Génération de l'input.#}
                                {{ form_widget(form_avancee.marque, {'attr': {'class': ' col-md-12 form-control', 'autocomplete': 'off'}}) }}

                                {{ form_errors(form_avancee.marque, { 'attr': {'class': 'red' }}) }}
                            </div>
                            <div class=" form-group  col-md-4">
                                {{ form_label(form_avancee.recherche_av, "Mots clès :", {'label_attr': {'class': ' control-label'}}) }}
                                {# Génération de l'input.#}
                                {{ form_widget(form_avancee.recherche_av, {'attr': {'class': ' col-md-12 form-control', 'placeholder' : 'embrayage, turbo... ', 'autocomplete': 'off'}}) }}

                                {{ form_errors(form_avancee.recherche_av, { 'attr': {'class': 'red' }}) }}
                            </div>
                            {# Génération de l'input.#}
                            {{ form_widget(form_avancee.Valider , {'attr': {'class': ' col-md-12 btn btn-primary'}})}}
                            {{ form_end(form_avancee) }}
                        </div>
                    </div>
                </div>
            </div>
	    </div>
	</section>
	<div class="container">
        {% if car is not empty %}
					<div class="row">
						<div class="col-md-12">
							<div class="listing_car">
								<table class="table table-striped">
									<thead>
									<tr class="text-uppercase">
										<th scope="col-md-2">Immatriculation</th>
										<th scope="col-md-2">Date d'enregistrement</th>
										<th scope="col-md-2">N° de série</th>
										<th scope="col-md-2">Marque</th>
										<th scope="col-md-2">Site</th>
										<th scope="col-md-2">Etat Autocar</th>
									</tr>
									</thead>
									<tbody>
                                    {% for Car in car_listing %}
										<tr>
											<th scope="row">
                                                {% if app.user %}
													<a href="{{ path('car', { 'id': Car.id }) }}">{{ Car.immat|upper }}</a>
                                                {% else %}
                                                    {{ Car.immat|upper }}
                                                {% endif %}
											</th>
											<td>{{ Car.date|date("d/m/Y") }}</td>
											<td>{{ Car.numSerie }}</td>
											<td>{{ Car.marque| upper }}</td>
											<td>{{ Car.site }}</td>
											<td>{% if  Car.etatCar == "roulant" %}<i class="fa fa-bus" style="color: #00a65a;" aria-hidden="true"></i>
                                                {% elseif Car.etatCar == "roulant ano" or Car.etatCar == "roulant_ano" %} <i class="fa fa-ambulance" style="color: orange; font-size: 15px" aria-hidden="true"></i>
                                                {% elseif Car.etatCar == "panne" %} <i class="fa fa-ambulance" style="color: red;  font-size: 15px" aria-hidden="true"></i>
                                                {% else %}
                                                    {{ Car.etatCar }}
                                                {% endif %}
											</td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
		{% elseif car is defined and car != 'rien' and plusieurs is not defined or plusieurs != 'OK'  %}
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						Information sur l'Autocar :
						 {{ car.immat| upper }}
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="listing_car">
				        <table class="table table-striped">
				            <thead>
				            <tr>
				                <th scope="col-md-2">Immatriculation</th>
				                <th scope="col-md-3">Date</th>
				                <th scope="col-md-2">N° de série</th>
				                <th scope="col-md-2">Etat du Car</th>
				                <th scope="col-md-3">Dernière panne</th>
				            </tr>
				            </thead>
				            <tbody>
				            <tr>
				                <th scope="row"><a href="{{ path('car', { 'id': car.id }) }}">{{ car.immat|upper }}</a></th>
				                <td>{{ car.date|date("d/m/Y") }}</td>
				                <td>{{ car.numSerie }}</td>
				                <td>{{ car.EtatCar }}</td>
				                <td>{{ car.typePanne }}</td>
				            </tr>
				            </tbody>
				        </table>
					</div>
				</div>
			</div>
		{% elseif car is defined and car != null and plusieurs is defined and plusieurs == 'OK' %}
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Résultats possibles</h3>
				</div>
			</div>
			{% for car in car %}
				<div class="list-group">
					<a class="list-group-item" href="{{ path('car',{'id': car.id }) }}">{{ car.immat |upper }}</a>
				</div>
			{% endfor %}
		{% else %}
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Recherche d'un autocar</h3>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<div id="resultat">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('a.green').click(function(){
                if($('button#form_Rechercher').is(':visible'))
                {
                    $('button#form_Rechercher').hide();
                    $('.c_hide').hide();
                }
                else
                {
                    $('button#form_Rechercher').show();
                    $('input#form_recherche').show();
                    $('.c_hide').show();
                }
            });
            $('button#form_rechercher').on('click', function () {
                if($('input#form_rechercher') == '' || $('input#form_rechercher').val().length < 1 )
                {
                    alert('Remplir le champs recherche');
                    return false;
                }
            });


        });
    </script>
{% endblock %}